header.header
	section.header-menu__block
		.container
			ul.menu
				each item, index in ["Services","Why to choose us","Our clients","Payment","Blog","Contacts"]
					li.menu__item
						a.menu__link(href='#')=item
	section.header__block
		.container
			a.home-link(href='#')
				span.company СOMPANY
				span.title digital
				span.subtitle marketing
				span.subtext for small business




