main.main
	section.a_header
		.container
			p Our company provides digital marketing services to small to medium businesses. We believe that utilizing the digital marketing channels is very important today, it brings a great value to the business. We focus on the tools that will start working on your business from day1 like PPC advertising, social networks advertising, email marketing remarketing etc. But we can also help you with the long term strate Detailed description of each package you can find below.
	section.package-services.js_tabs
		.package-services__title
			.container
				h3.section-title Package services
		ul.package-services__tabs.js_tabs-navigation
			li.package-services__tab-link.js_tabs-link.activated
				.package-services__tab-link-title Package 1
				.package-services__tab-link-text
					| 200 usd per month, <br>
					| 75 usd AD budget included <br>
					| (you can add any extra <br>
					| budget you want)
			li.package-services__tab-link.js_tabs-link
				.package-services__tab-link-title Package 2
				.package-services__tab-link-text
					| 400 usd per month, <br>
					| 200 usd AD budget included <br>
					| (you can add any extra <br>
					| budget you want)
			li.package-services__tab-link.js_tabs-link
				.package-services__tab-link-title Package 3
				.package-services__tab-link-text
					| 600 usd per month, <br>
					| 300 usd AD budget included <br>
					| (you can add any extra <br>
					| budget you want)
		.package-services__tabs-content.js_tabs-wrap
			.container

