main.main
	section.a_header
		.container
			p Our company provides digital marketing services to small to medium businesses. We believe that utilizing the digital marketing channels is very important today, it brings a great value to the business. We focus on the tools that will start working on your business from day1 like PPC advertising, social networks advertising, email marketing remarketing etc. But we can also help you with the long term strate Detailed description of each package you can find below.
	section.package-services.js_tabs
		.package-services__title
			.container
				h3.section-title Package services
		ul.package-services__tabs.js_tabs-navigation
			li.package-services__tab-link.js_tabs-link.activated
				.package-services__tab-link-title Package 1
				.package-services__tab-link-text
					| 200 usd per month, <br>
					| 75 usd AD budget included <br>
					| (you can add any extra <br>
					| budget you want)
			li.package-services__tab-link.js_tabs-link
				.package-services__tab-link-title Package 2
				.package-services__tab-link-text
					| 400 usd per month, <br>
					| 200 usd AD budget included <br>
					| (you can add any extra <br>
					| budget you want)
			li.package-services__tab-link.js_tabs-link
				.package-services__tab-link-title Package 3
				.package-services__tab-link-text
					| 600 usd per month, <br>
					| 300 usd AD budget included <br>
					| (you can add any extra <br>
					| budget you want)
		.package-services__tabs-content.js_tabs-wrap
			.container

	section.choose_us.pad
		.container
			h3.title
				| Why to choose us
			.artical
				p.
					Our experts have a great knowledge of all available digital marketing tools and will utilise just the ones that will be working for your business. We will be focusing on short term and long term results. With help of Pay Per Click advertising you can start getting the customers from day1. But it cannot be just the only tool you use, it is very important to turn your hot customer
				p.
					into loyal audience, to keep in touch, remind about your existence trying to keep continuous communication channel. It is almost not possible to effectively promote your goods and services in Internet without good brand these days.
				p.
					We understand your business needs these days, and with help of digital marketing tools we are going to help you to achieve two main goals:
				p.
					1) short term: get customers ready to purchase your services - PPC advertising, social media advertising
				p.
					2) long term: increase brand awareness, build loyal customer base - social media, video advertising, email marketing, setting up promotions etc.
	section.social_media.pad
		.container
			h3.title
				| Social Media Marketing and Your Business
			.artical
				p Whether your business is B2B or B2C, social media marketing can help spread the word about your quality products and services. We’ll not only get the word out, but we can manage your social media accounts, update content and track the results, leaving you free to run your business.
				p.
					Increased TraffiC
					Social media marketing doesn’t just gain followers; it shares your brand’s message which increases visitors to your site, in turn generating new customers and referrals.
				p.
					Increased Exposure
					Effective social media marketing places your brand in front of your target audience. Our social marketing packages help grow your brand, by leaving a lasting impression on customers.
	section.blog.pad
		.container
			h3.section-title
				| OUR BLOG
			.operator-items
				.operator-item
					.o-img
						img(src="img/blog/operator-1.png", alt="")
					.o-dscr
						span.name_of_blog
							| Site Traffic vs. Leads: <br>
							| The Difference Matters
						span.date
							| 10 April 2017
				.operator-item
					.o-img
						img(src="img/blog/operator-2.png", alt="")
					.o-dscr
						span.name_of_blog
							| Site Traffic vs. Leads: <br>
							| The Difference Matters
						span.date
							| 10 April 2017
				.operator-item
					.o-img
						img(src="img/blog/operator-3.png", alt="")
					.o-dscr
						span.name_of_blog
							| Site Traffic vs. Leads: <br>
							| The Difference Matters
						span.date
							| 10 April 2017
	section.contacts
		.container
			h3.section-title
				| contacts
			.form-wrapper
				form#contact-form(action='' method="get")
					.first-input
						.l-n
							input#name.mp_cond(placeholder='Ім’я', name='name', type='text')
						.l-l
							input#last_name.mp_cond(placeholder='Прізвище', name='last_name', type='text')
					.second-input
						label(for="email")
							input#email.mp_cond(placeholder='E-mail', name='email', type='email')
					.last-input
						label(for="body")
							textarea#body.mp_cond(placeholder='Повідомлення', name='body')
					.submit-input
						input.mp_cond(type='submit', value='отправить')
		.map-container
			#map