.header-menu__block {
	background-color: #0d0705;
	font-weight: 700;
	border-top: 1px solid #262626;
	border-bottom: 1px solid #262626;
}
.menu {
	padding: 17px 0;
	min-height: 74px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.menu__link {
	display: block;
	padding: 0 20px;
	cursor: pointer;
	color: #fff;
	font-size: 20px;
	line-height: 26px;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 700;
	transition: color 0.25s;
	&:hover {
		color: $ac;
	}
}
.menu__control {
	display: none;
}
.header__block {
	background-color: #050707;
	background-image: url(../img/header.jpg);
	background-repeat: no-repeat;
	background-position: center;
	padding-top: 60px;
	padding-bottom: 55px;
}
.home-link {
	display: inline-block;
	text-transform: uppercase;
	line-height: 1;
	padding-left: 25px;
	text-shadow: 0px 2px 3.8px rgba(0, 1, 1, 0.004);
	span {
		display: block;
	}
	.company {
		font-size: 80px;
		color: #55b7dc;
		font-weight: 300;
		margin-bottom: 30px;
	}
	.title {
		font-size: 90px;
		color: #fc982d;
		font-weight: bold;
	}
	.subtitle {
		font-size: 60px;
		color: #fc982d;
		font-weight: bold;
		text-transform: uppercase;
		text-align: left;
		margin-bottom: 10px;
	}
	.subtext {
		font-size: 36px;
		color: #fff;
		font-weight: 300;
	}
}
.mobile-controls {
	display: none;
}

@include breakpoint(1440) {
	.header__block {
		padding-top: 55px;
	}
}
@include breakpoint(1024) {
  .menu__link {
    font-size: 24px;
    line-height: 30px;
    padding: 0 10px;
  }
}
@include breakpoint(1023) {
	.menu {
		justify-content: flex-start;
	}
}

@include breakpoint(768) {
	.mobile-controls {
		display: block;
		padding: 10px 0;
	}
	.menu {
		display: block;
		width: 100%;
		max-width: 420px;
		position: absolute;
		left: -100%;
		top: 0;
		padding-top: 50px;
		display: block;
		transition: left 0.5s;
		background-color: #000;
		padding: 10px 20px 20px;
		&.opened {
			left: 0;
		}
	}
	.mobile-menu__open{
		display: inline-block;
		padding-top: 14px;
		padding-bottom: 14px;
		background-color: $ac;
		background-clip: content-box;
		width: 40px;
		height: 32px;
		position: relative;
		&:before {
			content: '';
			background-color: $ac;
			position: absolute;
			width: 100%;
			height: 4px;
			top: 0;
			left: 0;
			}

		&:after {
			content: '';
			position: absolute;
			width: 100%;
			height: 4px;
			background-color: $ac;
			bottom: 0;
			left: 0;
		}
		.text {
			display: none;
		}
	}
	.mobile-menu__close {
		display: inline-block;
		.text {
			font-size: 0;
			display: inline-block;
			position: relative;
			width: 40px;
			height: 4px;
			&:before {
				content: '';
				background-color: $ac;
				position: absolute;
				width: 100%;
				height: 4px;
				top: 0;
				left: 0;
				transform: rotate(-45deg);
			}

			&:after {
				content: '';
				position: absolute;
				width: 100%;
				height: 4px;
				background-color: $ac;
				top: 0;
				left: 0;
				transform: rotate(45deg);
			}
		}
	}
	.header-menu__block {
		position: relative;
	}
	.menu__control {
		display: block;
		text-align: right;
	}
	.menu__link {
		padding: 10px;
	}
	.menu__item{
		margin-bottom: 10px;
		&:nth-last-of-type(1) {
			margin-bottom: 0;
		}
	}
	.home-link {
		.company {
			font-size: 60px;
			margin-bottom: 20px;
		}
		.title {
			font-size: 76px;
		}
		.subtitle {
			font-size: 50px;
		}
		.subtext {
			font-size: 30px;
		}
	}
}
@include breakpoint(480) {
	.home-link {
		padding-left: 0;
		.company {
			font-size: 40px;
			margin-bottom: 15px;
		}
		.title {
			font-size: 60px;
		}
		.subtitle {
			font-size: 40px;
		}
		.subtext {
			font-size: 26px;
		}
	}
	.header__block {
		padding-top: 40px;
		padding-bottom: 40px;
	}
}